name: "Release"
on:
  push:
    tags:
      - v[0-9]*

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/rytsh/dock/build/go:1.25.5
      options: --privileged
    services:
      docker:
        image: docker:24-dind
        options: --privileged
    steps:
      - uses: actions/checkout@v4
      - name: Install Docker CLI
        run: |
          apt-get update
          apt-get install -y docker-cli
          git config --global --add safe.directory /__w/saz/saz
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create release
        uses: goreleaser/goreleaser-action@v3
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
